<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Netflix Search</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <select id="field">
        {% for column in columns %}
            <option value="{{ column }}">{{ column.capitalize() }}</option>
        {% endfor %}
    </select>
    <input type="text" id="search_value">
    <button onclick="search()">Search</button>

    <div id="result"></div>

    <script>
        function search() {
            var field = document.getElementById('field').value;
            var searchValue = document.getElementById('search_value').value;

            fetch('/search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ field: field, searchValue: searchValue }),
            })
            .then(response => response.json())
            .then(data => {
                var resultDiv = document.getElementById('result');
                resultDiv.innerHTML = ''; // Clear previous results

                // Create table
                var table = document.createElement('table');
                var headerRow = table.insertRow();
                // Define column order
                var columnOrder = ['title', 'cast', 'director', 'release_year', 'duration', 'description'];
                // Add column headers in specified order
                columnOrder.forEach(column => {
                    var headerCell = headerRow.insertCell();
                    headerCell.textContent = column.charAt(0).toUpperCase() + column.slice(1);
                });

                // Add rows and data
                data.forEach(item => {
                    var row = table.insertRow();
                    columnOrder.forEach(column => {
                        var cell = row.insertCell();
                        cell.textContent = item[column];
                    });
                });

                resultDiv.appendChild(table);
            });
        }
    </script>
</body>
</html>